<?xml version="1.0"?>
<config>
    <modules>
        <Nmred_Showorder>
            <version>1.0.0</version>
        </Nmred_Showorder>
    </modules>
    <frontend>
        <routers>
            <showorder>
                <use>standard</use>
                <args>
                    <module>Nmred_Showorder</module>
                    <frontName>showorder</frontName>
                </args>
            </showorder>
        </routers>
    </frontend>
    <global>
        <blocks>
            <showorder>
                <class>Nmred_Showorder_Block</class>
            </showorder>
        </blocks>
    </global>
</config>
